@model List<EstudianteViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<h4>Lista de Estudiantes Registrados</h4>
<br />
<div class="row">
    <div class="col-12">
        <table class="table table-hover table-light table-striped table-sm table-responsive custom-table table-bordered">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Matrícula</th>
                    <th>Carrera</th>
                    <th>Correo Institucional</th>
                    <th>Teléfono</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Género</th>
                    <th>Tanda</th>
                    <th>Tipo de Ingreso</th>
                    <th>Está Becado</th>
                    <th>Porcentaje de la Beca</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var it in Model)
                    {
                        <tr>
                            <td>@it.NombreCompleto</td>
                            <td>@it.Matricula</td>
                            <td>@it.Carrera</td>
                            <td>@it.CorreoInstitucional</td>
                            <td>@it.Telefono</td>
                            <td>@it.FechaNacimiento</td>
                            <td>@it.Genero</td>
                            <td>@it.Tanda</td>
                            <td>@it.TipoIngreso</td>
                            <td>@it.EstaBecado</td>
                            <td>@it.PorcentajeBeca</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>